
<head>



</head>
  <div class="data">
    <% today = Date.today%>
    <!-- <div class="user"><p><%= current_user.name%></p></div> -->

    <% if params[:next_month] != nil then %>
      <% today = Date.today.next_month %>
    <% end %>
    <% if params[:this_month] != nil then %>
      <% today = Date.today %>
    <% end %>

    <!-- <h1 id="year" style="width: 150px; height: 150px; margin: 0;" ><%= today.strftime("%Y") %></h1> -->
    <!-- <h1 id="month" style="width: 100px; height: 100px; margin: 0; " ><%= today.strftime("%m") %></h1> -->
    <div class="month">
      <p><%= today.strftime("%-m") %></p>
    </div>
  </div>
<div class="english">
  <p id="eng">  </p>

  <p id="year"><%= today.strftime("%Y") %></p>
  <p id="user">Your schedule</p>



</div>
<br><br><br>

<table border="none" class="up"　cellspacing="3">
  <!-- <caption><%= today.strftime("%Y年%m月") %></caption> <!--today.strftime("%Y年%m月")-->

  <div class="month_button">
  <%= form_tag("/home/top/#{current_user.id}") do%>
    <input type="hidden" name="hidden">
    <% if params[:next_month] == nil then %>
      <input class="next" type="submit" name="next_month" value="▶︎">
    <% end %>
  <% end %>
  <%= form_tag("/home/top/#{current_user.id}") do%>
    <% if params[:next_month] != nil then %>
      <input class="th" type="submit" name="this_month" value="◀︎">
    <% end %>
  <% end %>
  </div>

  <script type="text/javascript">
  $(function() {
  if($('.next').length){
    const month_english_list = ['January.','February','March','April','May','June','July','August','September','October','November','December'];
    var date = new Date();
    var month = date.getMonth();
    var month_english =  month_english_list[month];
    var eng = document.getElementById("eng");
    eng.innerHTML = month_english;

  }else{
    const month_english_list = ['January','February','March','April','May','June','July','August','September','October','November','December'];
    var date = new Date();
    var month = date.getMonth()+1;
    if(month == 12){
      month = 0;
    }
    var month_english =  month_english_list[month];
    var eng = document.getElementById("eng");
    eng.innerHTML = month_english;
  };
  });
  </script>

  <tr>
    <th>sun</th>
    <th>mon</th>
    <th>tue</th>
    <th>wed</th>
    <th>thr</th>
    <th>fry</th>
    <th>sat</th>
  </tr>

<% month = today.month%> <!-- today.strftime('%m') -->


<% d = today.at_beginning_of_month.at_beginning_of_week(:sunday)%>

<% 1.upto(5).each do|i|%>
  <tr>
  <% (d..d.end_of_week(:sunday)).each do|c|%>
    <td>
      <%= (c.month == month)? c.strftime('%-d'): "  "%><br>

      <% @events.each do |event|%>
        <% if event.start_date.strftime("%Y-%m-%d") == c.strftime("%Y-%m-%d") then %>
          <%= link_to("#{event.event}", "/event/#{event.start_date}/#{event.user_id}/show") %><br>
        <% end %>
      <% end %>
    </td>
  <% end %>
  </tr>

    <% d = d + 1.week %>
<% end %>
</table>


<!--<%@events.each do |event| %>
<%= event.event%>,
<%= event.start_date%>,
<%= event.description%>,
<%= event.time%>,
<%= event.user_id%><br>
<% end %>
-->
