<br><br><br>
<h2>編集</h2><br>
<%= form_tag("/event/#{@event.id}/update") do%>
予定
<input type="text" name="event" value=<%= @event.event %>><br>
日付
<input type="date" name="start_date" value=<%= @event.start_date %>><br>
時間
<input type="time" name="time" <% if @event.time != nil then %>value ="<%= @event.time.strftime("%H:%M")%>"<% end %>><br>
詳細<br>
<textarea name="description"><%= @event.description %></textarea><br><br>
<input type="submit" value="変更する"><br>
<%= link_to("戻る", "/event/#{@event.start_date}/#{@event.user_id}/show")%>
<% end %>
