<div class="data">
  <% today = Date.today%>

  <% free_user_id = []%>
  <% i = 0 %>
  <% @users.each do |user| %>
  <% free_user_id.push(user.id)%>
  <% end %>
  <% max = free_user_id.count %>

  <% @events.each do |evant|%>
    <% if evant.start_date == today then %>
      <% if free_user_id.include?(evant.user_id) then %>
        <% user = User.find_by(id: evant.user_id)%>
        <% free_user_id.delete(user.id)%>
        <% i = i + 1 %>
      <% end %>
    <% end %>
  <% end %>

  <% if params[:next_month] != nil then %>
    <% today = Date.today.next_month %>
  <% end %>
  <% if params[:this_month] != nil then %>
    <% today = Date.today %>
  <% end %>

  <div class="month">
    <p><%= today.strftime("%-m") %></p>
  </div>
</div>
<!--  today = Date.today.nextmonth -->


<div class="english">
<p id="eng">  </p>
<script type="text/javascript">
$(function() {
if($('.next').length){
  const month_english_list = ['January.','February','March','April','May','June','July','August','September','October','November','December'];
  var date = new Date();
  var month = date.getMonth();
  var month_english =  month_english_list[month];
  var eng = document.getElementById("eng");
  eng.innerHTML = month_english;

}else{
  const month_english_list = ['January','February','March','April','May','June','July','August','September','October','November','December'];
  var date = new Date();
  var month = date.getMonth()+1;
  if(month == 12){
    month = 0;
  }
  var month_english =  month_english_list[month];
  var eng = document.getElementById("eng");
  eng.innerHTML = month_english;
};
});
</script>




<p id="year"><%= today.strftime("%Y") %></p>
<p id="user">Group schedule</p>
<!--月の移動ボタン-->
<div class="month_button">

<%= form_tag("/event/group") do%>
  <% if params[:next_month] == nil then %>
    <input class="next" type="submit" name="next_month" value="▶︎">
  <% else %>
    <input class="this" type="submit" name="this_month" value="◀︎">
  <% end %>
<% end %>
</div>

</div>
<div class="messeage">
<% if i == 0 then %>
<font color="green">今日はみんなの予定が空いています！！</font><br>
<% elsif i == max %>
<font color="blue">今日はみんな予定があるそうです。</font><br>
<% else %>
今日は
<% free_user_id.each do |free_user_id| %>
  <% free_user_name = User.find_by(id: free_user_id)%>
    <font color="orange"><%=  free_user_name.name %></font>,
<% end %>
の予定が空いています！
<% end %>
</div>


<table border="none" class="top" cellspacing="3">

<tr>
  <th>sun</th>
  <th>mon</th>
  <th>tue</th>
  <th>wed</th>
  <th>thr</th>
  <th>fry</th>
  <th>sat</th>
</tr>

<% month = today.strftime('%m')%>
<% d = today.at_beginning_of_month.at_beginning_of_week(:sunday)%>

<% 1.upto(5).each do|i|%>
<tr>
<% (d..d.end_of_week(:sunday)).each do|c|%>
<% array = []%>
<% busy = [] %>
  <td>
    <%= (c.strftime('%m') == month)? c.strftime('%-d'): "  "%><br>

    <% @events.each do |event| %>
        <% if event.start_date.strftime("%Y-%m-%d") == c.strftime("%Y-%m-%d") then %>
          <% if event.join == nil then %>
            <% @users.each do |user|%>
              <% if user.id == event.user_id then %>
                <% array.push(user.name) %>
                <% busy = array.uniq%>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
    <% end %>

    <% count =busy.count%>



    <% if c.strftime('%m') == month then %>
      <% if count == 0 then %>
        <img class="free" src="/assets/hiragana.png">
      <% elsif count <= 1 %>

          <p id="1" color="red">　</p>

      <% elsif count <= 2 %>

          <p id="2" color="blue">　</p>

      <% end %>
    <% end %>

    <% @group_event.each do |group_event|%>
      <% if group_event.date != nil then %>
        <% if group_event.date.strftime("%Y-%m-%d") == c.strftime("%Y-%m-%d") then %>
          <% if group_event.date.strftime("%m") == month then %>
            <div class="group"><%= link_to("#{group_event.group_event}", "/event/#{group_event.id}/group_show")%></div><br>
          <% end %>
        <% end %>
      <% end %>
    <% end %>


  </td>
<% end %>
</tr>

  <% d = d + 1.week %>
<% end %>

 <script type="text/javascript">
$(function() {
  if($('.group').length){
    $('td:has(.group)').css({background:'#0fdabb'});
    $("td:has(.group)").css({color:'white'});
    $('td:has(.group)').css("border", "#0fdabb 1px solid");
  };
});
</script>
</table>
